.row {
    margin-right: 0;
    margin-left: 0;
    margin-bottom:20px;
}
.logo img{
    width: 341px;
    height:150px;
    float: left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 50px;
}
ul li{
    float: left;
}
ul li a{
    text-decoration: none;
    color: red;
    padding: 10px 40px;
    font-size: 25px;
    background: #8a2626;
    font-size: 18px;
    margin: 0 3px;
    color: #fff;
    transition: transform .2s;
    transition: 0.5s all;
    border-radius: 10px;
}
ul li a:hover{
    text-decoration: none;
    transform: scale(1.5);
    color: #fff;
    font-size: 20px;
}
.contaniners
{
	
    background-color:black;
    padding: 10px;
    
}
.pagelayout
{
    background-color:white;
    padding: 10px;
}
.footer{
    background-color:grba(0,0,0,0.55);
}
h1{
	margin-top: 30px;
	color: white;
}
.btnInsert,.btnView{
	width: 30%;
	margin-bottom: 10px;
}
.btnView{
	width: 20%;
	margin-top:  10px;
}
.footer img{
	width: 70px;
	height: 70px;
	padding: 10px;
	float: right;
	cursor: pointer;
	border-radius: 50%;	
	
}
.footer img:hover{
	opacity: 0.6;
	transection:0.5s;
}
.footer h5{
	color:white;
	cursor: pointer;

}
h1{
font-family: 'Kdam Thmor', cursive;
font-size: 20px;
}
.font{
font-family: 'Kdam Thmor', cursive;
}
th, p.th {
    background: hsl(167, 69%, 39%);
    color: #fff;
}