<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.utraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1"/>
<title>Footer of Layout</title>
<link rel="stylesheet" href="/css/bootstrap.min.css"/>
 <link rel="stylesheet" href="/css/style.css"/>
 <script src="/js/jquery-3.3.1.js"></script>
</head>
<body>
	<div class="container contaniners" th:fragment="footer">
                <div class="row">
                <div class="col-lg-4 footer footer">
	                 <h5 th:text="#{footer.text}"></h5>
                   </div>
                   <div class="col-lg-4 footer footer">
	                 <center><h5>Copy right from sabaymer.com</h5></center>
                   </div>
                   <div class="col-lg-4 footer footer">
	                  <img alt="not found" src="../../img/facebook.jpg"/>
	                  <img alt="not found" src="../../img/khmer.jpeg"/>
	                  <img alt="not found" src="../../img/news.jpeg"/>
	                  <img alt="not found" src="../../img/sabay.png"/>
	                  <img alt="not found" src="../../img/youtube.png"/>
                   </div>
               </div>
    </div>
</body>
</html>