<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.utraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1"/>
<title>Header Of Layout</title>
<link rel="stylesheet" href="/css/bootstrap.min.css"/>
 <link rel="stylesheet" href="/css/style.css"/>
 <script src="/js/jquery-3.3.1.js"></script>
</head>
<body>
	<div class="container-fluid" th:fragment="header">
        <div class="container contaniners">
            <div class="header">
                <div class="row font">
                    <div class="col-lg-6">    
                     <h1 th:text="#{title.head}">Stock Management System</h1>
                    </div>
                    <form method="get" action="/dashboard">
                    	<lable>Search by name</lable>
						<input type="text" placeholder="search..."/>
						<select>
							<option value="0">Fillter</option>
							<option value="1">IOS</option>
							<option value="2">Spring</option>
							<option value="3">Hibernate</option>
							<option value="4">WebApp</option>
						</select>					
					</form> 	
                    <div class="col-lg-6 menu font">
                        <ul>
                            <li>
                                <a href="/back">
                                    <span class="" th:text="#{home}"></span></a>
                            </li>
                            <li>
                                <a href="/back">
                                	<span class="" th:text="#{aboutUs}"></span>
                                </a>
                            </li>
                            <li>
                                <a href="/back">
                                	<span class="" th:text="#{contactUs}"></span>
                                </a>
                            </li>   
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>