<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.qltraq.nex.nz/thymeleaf/layout"
	  layout:decorator="admin_layout">
<head>
<meta charset="ISO-8859-1"/>
<title>DashBoard</title>
 <link rel="stylesheet" href="/css/bootstrap.min.css"/>
 <script src="/js/jquery-3.3.1.js"></script>
 <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div class="container contaniners" layout:fragment="content">
		<a href="/insert">
			<button type="button" class="btn btn-primary font" th:text="#{btninsert}"></button>
		</a>   
		                  		
            <div class="pagelayout">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-striped font">                       
                            <tr> 
                               	 <th th:text="#{id}"></th>
                                <th th:text="#{title}"></th>
                                <th th:text="#{price}"></th>
                                <th th:text="#{qty}"></th>
                                <th th:text="#{catagory}"></th>
                                <th th:text="#{importDate}"></th>
                                <th th:text="#{image}"></th>
                                <th>Action</th>                                                                                 </tr>
                            <tr th:each="productList : ${products}" th:object="${productList}">
                            	<td th:text="${productList.id}"></td>
                            	<td th:text="*{name}"></td>
                            	<td th:text="*{price}"></td>
                            	<td th:text="*{qty}"></td>
                            	<td th:text="*{catagory.catagory}"></td>
                            	<td th:text="*{importDate}"></td>
                            	<td>
                            		<img th:src="*{image}" style="height: 70px;width: 100px; background-color: red;"/>
								</td>
                            	<td>
                            	<a th:href="@{/view/{id}(id=${productList.id})}">
                            			<button type="button" class="btn btn-warning" th:text="#{btnview}"></button></a>
                            	<a th:href="@{/delete/{id}(id=${productList.id})}">
                            		<button type="button" class="btn btn-danger" th:text="#{btndelete}"></button>
                            	</a>
                            	<a th:href="@{/update/{id}(id=${productList.id})}">
                            		<button type="button" class="btn btn-success" th:text="#{btnupdate}"></button>
                            	</a>
                            	</td>
                            </tr>   
 						 </table>
 					</div>		
 				</div>
 			</div>
 		</div>				                      
</body>
</html>