<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.qltraq.nex.nz/thymeleaf/layout"
	  layout:decorator="admin_layout">
<head>
<meta charset="ISO-8859-1"/>
<title>DashBoard</title>
 <link rel="stylesheet" href="/css/bootstrap.min.css"/>
 <script src="/js/jquery-3.3.1.js"></script>
 <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div class="container-fluid">
        <div class="container contaniners" layout:fragment="content">
            <div class="header" style="background-color: white">
                <div class="row">
                    <div class="col-lg-12 font">
                        <form th:action="${Form}?'/insert':'/update'" method="POST" enctype="multipart/form-data" >
                            <div class="form-group">
                                <label for="id"></label>
                                <input type="hidden" class="form-control" th:field="${productLists.id}" placeholder="ID..." autocomplete="off"/>
                            </div>
                            <div class="form-group">
                                <label th:text="#{title}"></label>
                                <input type="text" class="form-control" th:field="${productLists.name}" placeholder="ProductName..." autocomplete="off"/>
                            </div>
                            <div class="form-group">
                                <label for="sel1" th:text="#{catagory}"></label>
                                <select class="form-control" th:field="${productLists.catagory.id}">
                                    <option th:each="catagory :${catagories}" th:value="${catagory.id} " th:text="${catagory.catagory}"/>  
                                 </select>
                            </div>
                            <div class="form-group">
                                <label th:text="#{price}"></label>
                                <input type="text" class="form-control" th:field="${productLists.price}" placeholder="Price..." autocomplete="off"/>
                            </div>
                            <div class="form-group">
                                <label th:text="#{qty}"></label>
                                <input type="text" class="form-control" th:field="${productLists.qty}" placeholder="Quantity..." autocomplete="off"/>
                            </div>
                            
                            <label th:text="#{image}" ></label>
                            <br/>
                            <label class="btn btn-default">
                              <input type="file" name="file" class="btn btn-warning"/>
                            </label>
                            <br/>
                           <input type="submit" th:value="${Form}?'insert':'update'" class="btn btn-success btnInsert"/>      	
                           </form>      
                      </div>
                  </div>
             </div>
       </div>
 </div>                           
</body>            
</html>