<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.qltraq.nex.nz/thymeleaf/layout"
	  layout:decorator="admin_layout">
<head>
<meta charset="ISO-8859-1"/>
<title>DashBoard</title>
 <link rel="stylesheet" href="/css/bootstrap.min.css"/>
 <script src="/js/jquery-3.3.1.js"></script>
 <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div class="container-fluid">
      <div class="container contaniners" layout:fragment="content">
		<div class="pagelayout">
                <div class="row">
                    <div class="col-lg-12">  
                        <table class="table table-striped font">
                            <tr>
                                <th th:text="#{id}"></th>
                                <th th:text="#{title}"></th>
                                <th th:text="#{price}"></th>
                                <th th:text="#{qty}"></th>
                                <th th:text="#{catagory}"></th>
                                <th th:text="#{importDate}"></th>
                                <th th:text="#{image}"></th>
                                
                            </tr>
                            <tr th:object="${products}">
                            	<td th:text="*{id}"></td>
                            	<td th:text="*{name}"></td>
                            	<td th:text="*{price}"></td>
                            	<td th:text="*{qty}"></td>
                            	<td th:text="*{catagory.catagory}"></td>
                            	<td th:text="*{importDate}"></td>
                            	<td>
                            		<img style="height: 70px;width: 100px;" th:src="*{image}" />
								</td>	
                            </tr>
 						 </table>
 					</div>
 				</div>	
 		</div>
 		   <a href="/back"><button type="button" class="btn btn-warning btnView" th:text="#{btnback}"></button></a>
 	  </div>
 	  
 	</div>		
</body>
                        
</html>